build/
.idea
.DS_Store
core.*
.vscode/settings.json
3rd/fire_extinguisher/lib/libdetector.so
3rd/fire_extinguisher/lib/libfire_extinguisher.so
authorization
bin
data/output
data/bus.jpg
include/pubKey.hpp
lib
bin/test-ji-api
data/output.jpg
model/detector.wts
model/detector.engine
data/test1.png
data/test2.png
